@charset "UTF-8";
html, body {
  padding:0;
  margin:0;
  height:100%;
  width:100%;
}
html {
  display:table;
}
body {
  display:table-cell;
  vertical-align:middle;
  text-align:center;
}
a {
	text-decoration:none;
	color:#FFF;
}
.middle {
  width:640px;
  margin:0 auto;
  background-color: rgba(0,0,0,0.2);
  border:1px solid rgba(0,0,0,0.1);
  height:320px;
  z-index:10;
  animation:logowanie 2s;
  -webkit-animation:logowanie 2s;
}
* html .middle {
  position:absolute;
  /*top:expression((x=(document.documentElement.offsetHeight-this.offsetHeight)/2)<0?0:x+'px');*/ /*to ma wyliczac pozycje od gory przy zmniejszaniu okna*/
  left:50%;
  margin-left:-320px; /* połowa szerokosci warstwy */
}

.lewo {
	display:inline;
	float:left;
	margin-left:40px;
	margin-top:59px;
}
.prawo {
	display:inline;
	float:right;
	margin-right:40px;
    margin-top:59px;
}
p.logowanie {
	font: 1.2em/50px "Arial", Gadget, sans-serif;
	color:#FFF;
	text-shadow:#333 0.5px 0.5px;
	width:320px;
}

/*animacja dla buttona zaloguj*/

.animacja:hover {
		animation-name:migniecie;
        animation-duration:2s;
        animation-iteration-count:infinite;
        -webkit-animation-name:migniecie;
        -webkit-animation-duration:2s;
        -webkit-animation-iteration-count:infinite;
}

@keyframes migniecie
      {
        0% { border:solid 5px #d9d9d9;}
		25%	{border:solid 5px #999;}
        75% {border:solid 5px #999;}
		100% {border:solid 5px #d9d9d9;}
      }
	  
	  @-webkit-keyframes migniecie
      {
        0% { border:solid 5px #d9d9d9;}
		25%	{border:solid 5px #999;}
        75% {border:solid 5px #999;}
		100% {border:solid 5px #d9d9d9;}
      }
/*button zaloguj*/  
#zaloguj{
    color: #fff;
	display:inline-block;
	position:relative;
	background-color:#666;
	text-align:center;
	width:100px;
	height:100px;
	overflow:hidden;
	visibility:visible;
	font: 1.2em/50px "Arial", Gadget, sans-serif;
	-webkit-border-radius: 50%;	-khtml-border-radius: 50%;	-moz-border-radius: 50%;	border-radius: 50%;
	border:solid 5px #d9d9d9;
	text-shadow:#333 0.5px 0.5px;
	padding:0px 0px;
	margin-top:10px;
	cursor: pointer;
	outline:none;
}

#zaloguj:hover {
	/*display:table-cell;*/
	background-color:#669999;
	border:solid 5px #FFF;
}

#zaloguj:focus {
	/*display:table-cell;*/
	background-color:#669999;
	border:solid 5px #336666;
}
/*inputy zaloguj i haslo*/
input.zaloguj {
    width:300px;
    height:30px;
    margin-bottom:10px;
    -webkit-border-radius: 7px;	-khtml-border-radius: 7px;	-moz-border-radius: 7px;	border-radius: 7px;
    border: solid #336666 1px;
    font-size:1em;
    padding-left:5px;
	outline:none;
}
input.error {
    margin-bottom:10px;
    -webkit-border-radius: 7px;	-khtml-border-radius: 7px;	-moz-border-radius: 7px;	border-radius: 7px;
    border: solid #cd0a0a 1px;
    font-size:1em;
    padding-left:5px;
    outline:none;
}
input.zaloguj:hover {
    border: solid #63c6c6 1px;
}
/* paski tla kozak styl*/
.pasek {
	position: fixed;
	width:200px;
}
.kolor1 {
	background-color:#336666;
}
.kolor2 {
	background-color:#79f2f2;
}
.poz1 {
	margin:0;
	top:-150%;
	left:0px;
	height:500%;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	z-index:-100;
}
.poz2 {
	margin:0;
	top:-150%;
	left:40px;
	height:500%;
	-webkit-transform: rotate(50deg);
	-moz-transform: rotate(50deg);
	-ms-transform: rotate(50deg);
	-o-transform: rotate(50deg);
	transform: rotate(50deg);
	z-index:-99;
}
.poz3 {
	margin:0;
	top:-150%;
	left:80px;
	height:500%;
	-webkit-transform: rotate(55deg);
	-moz-transform: rotate(55deg);
	-ms-transform: rotate(55deg);
	-o-transform: rotate(55deg);
	transform: rotate(55deg);
	z-index:-98;
}
.poz4 {
	margin:0;
	top:-150%;
	left:120px;
	height:500%;
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	-ms-transform: rotate(60deg);
	-o-transform: rotate(60deg);
	transform: rotate(60deg);
	z-index:-97;
}
.poz5 {
	margin:0;
	top:-150%;
	left:160px;
	height:500%;
	-webkit-transform: rotate(65deg);
	-moz-transform: rotate(65deg);
	-ms-transform: rotate(65deg);
	-o-transform: rotate(65deg);
	transform: rotate(65deg);
	z-index:-96;
}
.poz6 {
	margin:0;
	top:-150%;
	left:200px;
	height:500%;
	-webkit-transform: rotate(67deg);
	-moz-transform: rotate(67deg);
	-ms-transform: rotate(67deg);
	-o-transform: rotate(67deg);
	transform: rotate(67deg);
	z-index:-95;
}
.poz7 {
	margin:0;
	top:-147%;
	left:260px;
	height:500%;
	-webkit-transform: rotate(70deg);
	-moz-transform: rotate(70deg);
	-ms-transform: rotate(70deg);
	-o-transform: rotate(70deg);
	transform: rotate(70deg);
	z-index:-94;
}
.poz8 {
	margin:0;
	top:-145%;
	left:300px;
	height:500%;
	-webkit-transform: rotate(73deg);
	-moz-transform: rotate(73deg);
	-ms-transform: rotate(73deg);
	-o-transform: rotate(73deg);
	transform: rotate(73deg);
	z-index:-93;
}
.poz9 {
	margin:0;
	top:-141%;
	left:300px;
	height:500%;
	-webkit-transform: rotate(77deg);
	-moz-transform: rotate(77deg);
	-ms-transform: rotate(77deg);
	-o-transform: rotate(77deg);
	transform: rotate(77deg);
	z-index:-92;
}
.poz10 {
	margin:0;
	top:-138%;
	left:300px;
	height:500%;
	-webkit-transform: rotate(80deg);
	-moz-transform: rotate(80deg);
	-ms-transform: rotate(80deg);
	-o-transform: rotate(80deg);
	transform: rotate(80deg);
	z-index:-91;
}
.poz11 {
	margin:0;
	top:-137%;
	left:300px;
	height:500%;
	-webkit-transform: rotate(84deg);
	-moz-transform: rotate(84deg);
	-ms-transform: rotate(84deg);
	-o-transform: rotate(84deg);
	transform: rotate(84deg);
	z-index:-90;
}
/*paski w lewa strone*/
.poz12 {
	margin:0;
	top:-150%;
	left:-40px;
	height:500%;
	-webkit-transform: rotate(41deg);
	-moz-transform: rotate(41deg);
	-ms-transform: rotate(41deg);
	-o-transform: rotate(41deg);
	transform: rotate(41deg);
	z-index:-101;
}
.poz13 {
	margin:0;
	top:-150%;
	left:-70px;
	height:500%;
	-webkit-transform: rotate(37deg);
	-moz-transform: rotate(37deg);
	-ms-transform: rotate(37deg);
	-o-transform: rotate(37deg);
	transform: rotate(37deg);
	z-index:-102;
}
.poz14 {
	margin:0;
	top:-150%;
	left:-80px;
	height:500%;
	-webkit-transform: rotate(33deg);
	-moz-transform: rotate(33deg);
	-ms-transform: rotate(33deg);
	-o-transform: rotate(33deg);
	transform: rotate(33deg);
	z-index:-103;
}
.poz15 {
	margin:0;
	top:-150%;
	left:-90px;
	height:500%;
	-webkit-transform: rotate(28deg);
	-moz-transform: rotate(28deg);
	-ms-transform: rotate(28deg);
	-o-transform: rotate(28deg);
	transform: rotate(28deg);
	z-index:-104;
}
.poz16 {
	margin:0;
	top:-150%;
	left:-100px;
	height:500%;
	-webkit-transform: rotate(24deg);
	-moz-transform: rotate(24deg);
	-ms-transform: rotate(24deg);
	-o-transform: rotate(24deg);
	transform: rotate(24deg);
	z-index:-105;
}
.poz17 {
	margin:0;
	top:-150%;
	left:-90px;
	height:500%;
	-webkit-transform: rotate(18deg);
	-moz-transform: rotate(18deg);
	-ms-transform: rotate(18deg);
	-o-transform: rotate(18deg);
	transform: rotate(18deg);
	z-index:-106;
}
.poz18 {
	margin:0;
	top:-150%;
	left:-70px;
	height:500%;
	-webkit-transform: rotate(12deg);
	-moz-transform: rotate(12deg);
	-ms-transform: rotate(12deg);
	-o-transform: rotate(12deg);
	transform: rotate(12deg);
	z-index:-107;
}
.poz19 {
	margin:0;
	top:-150%;
	left:-60px;
	height:500%;
	-webkit-transform: rotate(6deg);
	-moz-transform: rotate(6deg);
	-ms-transform: rotate(6deg);
	-o-transform: rotate(6deg);
	transform: rotate(6deg);
	z-index:-108;
}
.poz20 {
	margin:0;
	top:-150%;
	left:-80px;
	height:500%;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	z-index:-109;
}

/*animacja wjazdu okienka logowania*/
@keyframes logowanie
{
  0% { opacity: 0; }
  /*25% { opacity: 0.25; }
  50% { opacity: 0.5; }
  75% { opacity: 0.75; }*/
  100% { opacity: 1; }
}